Тема “Создание признакового пространства”

Продолжим обработку данных с Твиттера. 

1. Создайте мешок слов с помощью sklearn.feature_extraction.text.CountVectorizer.fit_transform(). Применим его к 'tweet_stemmed' и 'tweet_lemmatized' отдельно.

- Игнорируем слова, частота которых в документе строго превышает порог 0.9 с помощью max_df.
- Ограничим количество слов, попадающий в мешок, с помощью max_features = 1000.
- Исключим стоп-слова с помощью stop_words='english'. 
- Отобразим Bag-of-Words модель как DataFrame. columns необходимо извлечь с помощью CountVectorizer.get_feature_names().
 
2. Создайте мешок слов с помощью sklearn.feature_extraction.text.TfidfVectorizer.fit_transform(). 

Применим его к 'tweet_stemmed' и 'tweet_lemmatized' отдельно.
- Игнорируем слова, частота которых в документе строго превышает порог 0.9 с помощью max_df.
- Ограничим количество слов, попадающий в мешок, с помощью max_features = 1000.
- Исключим стоп-слова с помощью stop_words='english'.
- Отобразим Bag-of-Words модель как DataFrame. columns необходимо извлечь с помощью TfidfVectorizer.get_feature_names().
 
3. Проверьте ваши векторайзеры на корпусе который использовали на вебинаре, составьте таблицу метод векторизации и скор который вы получили (в методах векторизации по изменяйте параметры что бы добиться лучшего скора) обратите внимание как падает/растёт скор при уменьшении количества фичей, и изменении параметров, так же попробуйте применить к векторайзерам PCA для сокращения размерности посмотрите на качество сделайте выводы

In [61]:
import pickle

In [62]:
with open('combibe_df.pickle', 'rb') as f:
    data = pickle.load(f)

In [63]:
data.head(2)

,id,label,tweet,tweet_token,tweet_token_filtered,tweet_stemmed,tweet_lemmatized
0,1,0.0,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunct, selfish, drag, kid, dysfunc...","[father, dysfunct, selfish, drag, kid, dysfunc..."
1,2,0.0,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau...","[thanks, lyft, credit, use, cause, offer, whee...","[thank, lyft, credit, use, caus, offer, wheelc...","[thank, lyft, credit, use, caus, offer, wheelc..."

In [64]:
import warnings
warnings.filterwarnings("ignore")

# 1. Создайте мешок слов с помощью sklearn.feature_extraction.text.CountVectorizer.fit_transform()

In [65]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd
from itertools import chain

In [66]:
CountVectorizer?

In [67]:
# 'tweet_stemmed'
tokenized_list = list(data.tweet_stemmed.values)
tokenized_list = list(chain(*tokenized_list))
count_vectorizer = CountVectorizer(ngram_range=(1, 1), analyzer='word', stop_words='english', lowercase=False,
                                   binary=False, max_df = 0.9, max_features = 1000)

# Создаем the Bag-of-Words модель
bag_of_words = count_vectorizer.fit_transform(tokenized_list)

# Отобразим Bag-of-Words модель как DataFrame
feature_names = count_vectorizer.get_feature_names()
bow_countv_steemed = pd.DataFrame(bag_of_words.toarray(), columns = feature_names)
bow_countv_steemed.head(2)

,abl,absolut,accept,account,act,action,actor,actual,ad,adapt,...,yeah,year,yesterday,yo,yoga,york,young,youtub,yr,yummi
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [68]:
# 'tweet_lemmatized'
tokenized_list = list(data.tweet_lemmatized.values)
tokenized_list = list(chain(*tokenized_list))
count_vectorizer = CountVectorizer(ngram_range=(1, 1), analyzer='word', stop_words='english', lowercase=False,
                                   binary=False, max_df = 0.9, max_features = 1000)

# Создаем the Bag-of-Words модель
bag_of_words = count_vectorizer.fit_transform(tokenized_list)

# Отобразим Bag-of-Words модель как DataFrame
feature_names = count_vectorizer.get_feature_names()
bow_countv_lemmatized = pd.DataFrame(bag_of_words.toarray(), columns = feature_names)
bow_countv_lemmatized.head(2)

,abl,absolut,accept,account,act,action,actor,actual,ad,adapt,...,yeah,year,yesterday,yo,yoga,york,young,youtub,yr,yummi
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# 2. Создайте мешок слов с помощью sklearn.feature_extraction.text.TfidfVectorizer.fit_transform().

In [69]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [44]:
TfidfVectorizer?

In [70]:
# 'tweet_stemmed'
tokenized_list = list(data.tweet_stemmed.values)
tokenized_list = list(chain(*tokenized_list))
tfidf_vectorizer = TfidfVectorizer(max_df=0.9, max_features = 1000, stop_words='english', lowercase=False,
                                  analyzer='word')
values = tfidf_vectorizer.fit_transform(tokenized_list)

# Show the Model as a pandas DataFrame
feature_names = tfidf_vectorizer.get_feature_names()
bow_tfidfv_steemed = pd.DataFrame(values.toarray(), columns = feature_names)
bow_tfidfv_steemed.head(2)

,abl,absolut,accept,account,act,action,actor,actual,ad,adapt,...,yeah,year,yesterday,yo,yoga,york,young,youtub,yr,yummi
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [71]:
# 'tweet_lemmatized'
tokenized_list = list(data.tweet_lemmatized.values)
tokenized_list = list(chain(*tokenized_list))
tfidf_vectorizer = TfidfVectorizer(max_df=0.9, max_features = 1000, stop_words='english', lowercase=False,
                                  analyzer='word')
values = tfidf_vectorizer.fit_transform(tokenized_list)

# Show the Model as a pandas DataFrame
feature_names = tfidf_vectorizer.get_feature_names()
bow_tfidfv_lemmatized = pd.DataFrame(values.toarray(), columns = feature_names)
bow_tfidfv_lemmatized.head(2)

,abl,absolut,accept,account,act,action,actor,actual,ad,adapt,...,yeah,year,yesterday,yo,yoga,york,young,youtub,yr,yummi
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# 3. Проверьте ваши векторайзеры 
на корпусе который использовали на вебинаре, составьте таблицу метод векторизации и скор который вы получили (в методах векторизации по изменяйте параметры что бы добиться лучшего скора) обратите внимание как падает/растёт скор при уменьшении количества фичей, и изменении параметров, так же попробуйте применить к векторайзерам PCA для сокращения размерности посмотрите на качество сделайте выводы

In [72]:
from sklearn import model_selection, preprocessing, linear_model
from sklearn.metrics import accuracy_score
from sklearn.decomposition import PCA
from sklearn.decomposition import SparsePCA

In [74]:
data_corp = open('corpus.txt').read()
labels, texts = [], []
for i, line in enumerate(data_corp.split("\n")):
    content = line.split()
    labels.append(content[0])
    texts.append(" ".join(content[1:]))
# создаем df
trainDF = pd.DataFrame()
trainDF['text'] = texts
trainDF['label'] = labels
trainDF.head(5)

                                                text       label
0  Stuning even for the non-gamer: This sound tra...  __label__2
1  The best soundtrack ever to anything.: I'm rea...  __label__2
2  Amazing!: This soundtrack is my favorite music...  __label__2
3  Excellent Soundtrack: I truly like this soundt...  __label__2
4  Remember, Pull Your Jaw Off The Floor After He...  __label__2

In [75]:
train_x, valid_x, train_y, valid_y = model_selection.train_test_split(trainDF['text'], trainDF['label'])

# labelEncode целевую переменную
encoder = preprocessing.LabelEncoder()
train_y = encoder.fit_transform(train_y)
valid_y = encoder.fit_transform(valid_y)

In [76]:

count_vect = CountVectorizer(analyzer='word', token_pattern=r'\w{1,}')
count_vect.fit(trainDF['text'])

xtrain_count =  count_vect.transform(train_x)
xvalid_count =  count_vect.transform(valid_x)

classifier = linear_model.LogisticRegression()
classifier.fit(xtrain_count, train_y)
predictions = classifier.predict(xvalid_count)
predictions

array([0, 1, 1, ..., 0, 0, 0])

In [77]:
accuracy_score(valid_y, predictions)

0.8544

In [ ]:
# Посмотрим результаты с векторайзером

In [101]:
tokenized_list = list(data.tweet_stemmed.values)
tokenized_list = list(chain(*tokenized_list))

tokenized_list2 = list(data.tweet_lemmatized.values)
tokenized_list2 = list(chain(*tokenized_list2))

In [102]:
# 1 CountVectorizer tweet_stemmed
count_vect = CountVectorizer(ngram_range=(1, 1), analyzer='word', stop_words='english', lowercase=False,
                                   binary=False, max_df = 0.9, max_features = 4000)
count_vect.fit(tokenized_list)
#
xtrain_count =  count_vect.transform(train_x)
xvalid_count =  count_vect.transform(valid_x)

classifier = linear_model.LogisticRegression()
classifier.fit(xtrain_count, train_y)
predictions = classifier.predict(xvalid_count)
accuracy_score(valid_y, predictions)

0.7276

In [103]:
# 2 CountVectorizer tweet_lemmatized
count_vect = CountVectorizer(ngram_range=(1, 1), analyzer='word', stop_words='english', lowercase=False,
                                   binary=False, max_df = 0.9, max_features = 4000)
count_vect.fit(tokenized_list2)
#
xtrain_count =  count_vect.transform(train_x)
xvalid_count =  count_vect.transform(valid_x)

classifier = linear_model.LogisticRegression()
classifier.fit(xtrain_count, train_y)
predictions = classifier.predict(xvalid_count)
accuracy_score(valid_y, predictions)

0.7276

In [104]:
# 3 TfidfVectorizer tweet_stemmed
count_vect = TfidfVectorizer(max_df=0.9, max_features = 4000, stop_words='english', lowercase=False,
                                  analyzer='word')
count_vect.fit(tokenized_list)
#
xtrain_count =  count_vect.transform(train_x)
xvalid_count =  count_vect.transform(valid_x)

classifier = linear_model.LogisticRegression()
classifier.fit(xtrain_count, train_y)
predictions = classifier.predict(xvalid_count)
accuracy_score(valid_y, predictions)

0.7464

In [105]:
# 4  TfidfVectorizer tweet_lemmatized
count_vect = TfidfVectorizer(max_df=0.9, max_features = 4000, stop_words='english', lowercase=False,
                                  analyzer='word')
count_vect.fit(tokenized_list2)
#
xtrain_count =  count_vect.transform(train_x)
xvalid_count =  count_vect.transform(valid_x)

classifier = linear_model.LogisticRegression()
classifier.fit(xtrain_count, train_y)
predictions = classifier.predict(xvalid_count)
accuracy_score(valid_y, predictions)

0.7464

Выводы: в этом случае скор не зависит от того, какие данные мы используем для обучения векторайзера (tweet_lemmatized или tweet_stemmed) Поэтому попробуем изменить параметры и посмореть на скор на tweet_stemmed

In [135]:
n_max_df = [0.5, 0.7, 0.8, 0.9, 1]
n_features = [500, 700, 1000, 2000, 3000, 4000, 5000, 6000]
stop_w = ['english', None]
log_max_df = []
log_features = []
log_acc = []
log_acc2 = []
log_stop_w = []

In [136]:
for max_df in n_max_df:
    for max_features in n_features:
        for w in stop_w:
            count_vect = CountVectorizer(ngram_range=(1, 1), analyzer='word', stop_words=w, lowercase=False,
                                   binary=False, max_df = max_df, max_features = max_features)
            count_vect.fit(tokenized_list)
#
            xtrain_count =  count_vect.transform(train_x)
            xvalid_count =  count_vect.transform(valid_x)

            classifier = linear_model.LogisticRegression()
            classifier.fit(xtrain_count, train_y)
            predictions = classifier.predict(xvalid_count)
            log_acc.append(accuracy_score(valid_y, predictions))
            
            
            count_vect = TfidfVectorizer(max_df=max_df, max_features = max_features, stop_words=w, lowercase=False,
                                  analyzer='word')
            count_vect.fit(tokenized_list2)
            #
            xtrain_count =  count_vect.transform(train_x)
            xvalid_count =  count_vect.transform(valid_x)

            classifier = linear_model.LogisticRegression()
            classifier.fit(xtrain_count, train_y)
            predictions = classifier.predict(xvalid_count)
            log_acc2.append(accuracy_score(valid_y, predictions))
            
        
            
            log_max_df.append(max_df)
            log_features.append(max_features)
            log_stop_w.append(w)

In [137]:
res = pd.DataFrame(log_acc, columns = ['accuracy_count'])

In [138]:
res['accuracy_tfidf'] = log_acc2
res['max_df'] = log_max_df
res['features'] = log_features
res['stop_w'] = log_stop_w

In [139]:
res

    accuracy_count  accuracy_tfidf  max_df  features   stop_w
0           0.6768          0.6836     0.5       500  english
1           0.6900          0.6852     0.5       500     None
2           0.7012          0.7060     0.5       700  english
3           0.7100          0.7096     0.5       700     None
4           0.7144          0.7204     0.5      1000  english
..             ...             ...     ...       ...      ...
75          0.5132          0.5140     1.0      4000     None
76          0.5072          0.5072     1.0      5000  english
77          0.5152          0.5172     1.0      5000     None
78          0.5076          0.5076     1.0      6000  english
79          0.5284          0.5268     1.0      6000     None

[80 rows x 5 columns]

In [140]:
res.sort_values(by=['accuracy_count']).tail(10)

    accuracy_count  accuracy_tfidf  max_df  features stop_w
27          0.7388          0.7392     0.7      4000   None
43          0.7388          0.7392     0.8      4000   None
15          0.7444          0.7464     0.5      6000   None
31          0.7444          0.7464     0.7      6000   None
47          0.7444          0.7464     0.8      6000   None
63          0.7444          0.7464     0.9      6000   None
61          0.7464          0.7428     0.9      5000   None
45          0.7464          0.7428     0.8      5000   None
29          0.7464          0.7428     0.7      5000   None
13          0.7464          0.7428     0.5      5000   None

In [141]:
res.sort_values(by=['accuracy_tfidf']).tail(10)

    accuracy_count  accuracy_tfidf  max_df  features   stop_w
58          0.7276          0.7464     0.9      4000  english
26          0.7276          0.7464     0.7      4000  english
31          0.7444          0.7464     0.7      6000     None
42          0.7276          0.7464     0.8      4000  english
15          0.7444          0.7464     0.5      6000     None
47          0.7444          0.7464     0.8      6000     None
12          0.7324          0.7500     0.5      5000  english
60          0.7324          0.7500     0.9      5000  english
28          0.7324          0.7500     0.7      5000  english
44          0.7324          0.7500     0.8      5000  english

Выводы: по результатам видно что в случае использования tfidf результаты чуть лучше чем при countvectorizer
Причем лучшие результаты получились при max_features = 5000( в остальных случаях на результат влияют и другие параметры)

## PCA

Не очень поняла условие - к чему применять PCA . применила к данным после преобразования на основе векторизации
При указании разного количества компонент (от 95% и ниже) результаты не меняются, но меняется время рассчета- чем больше компонент, тем больше времени нужно

In [144]:
# 5
count_vect = TfidfVectorizer(max_df=0.9, max_features = 4000, stop_words='english', lowercase=False,
                                  analyzer='word')
count_vect.fit(tokenized_list)
transformer = SparsePCA(n_components=100, random_state=0)
#
xtrain_count =  count_vect.transform(train_x)
transformer.fit_transform(xtrain_count.toarray())
xvalid_count =  count_vect.transform(valid_x)
transformer.fit_transform(xvalid_count.toarray())
classifier = linear_model.LogisticRegression()
classifier.fit(xtrain_count, train_y)
predictions = classifier.predict(xvalid_count)
accuracy_score(valid_y, predictions)

0.7464

#сколько компонентов выбирает PCA после подгонки модели, используя pca.n_components_,